@import "tailwindcss";

@theme {
  --container-center: true;
  --padding-default: 1rem;
  --padding-sm: 2rem;
}

@layer components {
  .primary-button {
    @apply bg-green-800
     text-white px-4 py-3 rounded-md
      hover:bg-green-400  hover:font-bold transition-colors 
      duration-200 ease-in-out hover:text-black;
  }
}
